body {
	font-family: "Verdana", Verdana, Sans-serif;
	text-align: center;
}

#wrapper {
	width: 1000px;
	border: 1px solid #000;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

form input {
	width: 100px;
}

form {
	padding: 20px;
}
.code {
	background-color: #CCC;
	padding: 20px;
}
.code h2, .output h2 {
	margin: 0;
	padding: 0;
}
.output {
	padding: 20px;
}